
  <div class="container aboutcon">
    <div class="col-md-12 about">
      <h1>About</h1>
        <a href="http://mohsinhanid.com" class="unlink">
          <p class="aboutlink">
            Made by Mohs - Check out other stuff I've done
          </p>
        </a>
        
        <p>
          This App collates and displays data about football clubs across Europe. You're able to filter this information by League, and the search function allows you to search for any attribute including: name, ground, location and stadium capacity.
        </p>
          
        <p>
          I created this app to explore and learn <a target="_blank" href="https://angularjs.org" class="aboutlink">Angular js</a>. I created this in September 2017 and sourced the data from <a target="_blank" href="https://en.wikipedia.org" class="aboutlink">Wikipedia</a>. This app does not use an API and so the information is currently static. I hope to attach it to an API soon. The icons have been sourced from <a target="_blank" href="http://fontawesome.io/icons/" class="aboutlink">Font Awesome 4</a>. The club logos have been sourced from the club websites, I do not own these logos and they belong to the clubs.
        </p>
    </div>
  </dir>   




